
.logo {
    width: 30%;
}

.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ; 
    width: 50em;

}

.links{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.link-nav {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-align:center;
    margin-left: 1.4em;
    
}

.link-nav:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgb(5, 209, 107);
    font-weight: 600;

    
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.btn-nav:last-child{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(40, 141, 71) !important;
    border-radius: 1em !important;
    width: 40%;
    margin-left: 1em;
}

.btn-nav:first-child{
    color: rgb(255, 255, 255) !important;
    
    border-radius: 1em !important;
    width: 40%;
    
    margin-left: 2em;
}

.btn-nav:first-child:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgb(5, 209, 107) !important;

}

.btn-nav:last-child:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgb(2, 94, 48) !important;
      
}