
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  background-image: linear-gradient(to right, #55287c, #1b034b);
  padding: 1.5em;
  background-color: #ffffff ;
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  color: white
}